
.pybuild/
.idea/
*.egg-info
*.pyc

## Debian package files
debian/.debhelper/
debian/files
debian/libpam-fingerprint
debhelper-build-stamp
*.debhelper
*.substvars
*.dsc
*.xz
*.deb
*.build*
*.changes
