Source: libpam-fingerprint
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: admin
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python (>= 2.7),
               python-setuptools,
               bash-completion
X-Python-Version: >= 2.7
Testsuite: autopkgtest-pkg-python
Vcs-Browser: https://github.com/philippmeisberger/pam-fingerprint
Vcs-Git: https://github.com/philippmeisberger/pam-fingerprint.git
Homepage: http://www.pm-codeworks.de/pamfingerprint.html

Package: libpam-fingerprint
Provides: pamfingerprint
Depends: ${python:Depends},
         ${misc:Depends},
         python-argparse,
         libpam-python,
         python-fingerprint (>= 1.5),
         bash-completion
Architecture: all
Description: Pluggable Authentication Module for fingerprint authentication
 This module provides biomtric fingerprint authentication. Supported sensors
 are ZhianTec ZFM-20, ZFM-60, ZFM-70 and ZFM-100. Other models like R302, R303,
 R305, R306, R307, R551 and FPM10A also work.
