Source: libpam-fingerprint
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: admin
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               python (>= 2.7),
               python-setuptools,
               bash-completion
Homepage: http://www.pm-codeworks.de/pamfingerprint.html

Package: libpam-fingerprint
Provides: pamfingerprint
Replaces: pamfingerprint
Conflicts: pamfingerprint
Depends: python (>= 2.7),
         python-argparse,
         libpam-python,
         python-fingerprint (>= 1.2),
         bash-completion,
         ${python:Depends},
         ${misc:Depends}
Architecture: all
Description: Pluggable Authentication Module for biometric authentication.
 The ZhianTec ZFM-20 fingerprint sensor (known as "Arduino fingerprint sensor")
 is required for this module.
