Package: pamfingerprint
Version: 0.1
Section: admin
Priority: extra
Depends: python (>= 2.5), python-pam, python-serial
Architecture: all
Installed-Size: 200
Maintainer: PM Codeworks <team@pm-codeworks.de>
Homepage: www.pm-codeworks.de/pamfingerprint.html
Description: PAM module for authentication with fingerprint.
 pamfingerprint provides biometric authentication for Linux using a UART fingerprint sensor. It is totally written in python and uses a python framework called pam_python to allow writing PAM modules in python instead in C. Pyserial, a python written library for serial connections, is used for the connection between the sensor and a computer. The sensor is connected with a USB TTL converter. pamfingerprint works with any application supporting PAM, for example su, sudo, etc.